---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedinIcon from '../components/Icons/Linkedin.astro';
import GithubIcon from '../components/Icons/Github.astro';
import MailIcon from '../components/Icons/Mail.astro';
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import Container from '../components/Container.astro';
import Maletin from '../components/Icons/Maletin.astro';
---



<Layout 
	title="Portfolio de Santos Bernabeu - Desarrollador y programador web"
	decription="Contrata a Santos Bernabeu, un desarrollador web con más de 15 años de experiencia en la creación de aplicaciones únicas y contenido digital. Con una sólida formación en programación y un enfoque en la innovación, Santos está listo para llevar tu proyecto al siguiente nivel."
>
	<main>
		<Container class="py-44 pb-22">
			<img 
				class= "rounded-full w-12 h-12 mb-4" 
				src="/public/Santos_perfil.jpg"
				alt="Santos photo"
			/>
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				Hey, soy Santos <a
					href="https://www.linkedin.com/in/santos-bernabeu-marroqu%C3%AD-aab13317a/"
					target="_blank"
					rel:"noopener"
					class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>

			<h2 class="text-2xl opacity-80 text-wrap">
				<span>+15 años de experiencia.</span><span class="text-yellow-200/90"> Desarrollador web y de contenido.</span> 
				<span class="text-red-200/90"> De Alicante, España 🏟️.</span>
				<span class="opacity-75"> Especialista en crear aplicaciones únicas.</span>
			</h2>

			<nav class="flex gap-x-4 mt-8">
				<SocialPill href="https://www.linkedin.com/in/santos-bernabeu-marroqu%C3%AD-aab13317a/">
					<LinkedinIcon class="size-6"/>
					LinkedIN
				</SocialPill>
				<SocialPill href="https://github.com/coyoteMMK">
					<GithubIcon class="size-6"/>
					Github
				</SocialPill>
				<SocialPill href="santosbaden@gmail.com">
					<MailIcon class="size-6"/>
					santosbaden@gmail.com
				</SocialPill>	
			</nav>
		</Container>

		<Container id="experiencia">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Maletin class="size-7"/>
				Experiencia laboral</h2>
			<Experience />
		</Container>
	</main>
</Layout>
