---
const { class: classname, id } = Astro.props;
---

<!-- Combinación de clases para el contenedor -->
<section id={id} class={`${classname} w-full lg:w-[740px] mx-auto pb-24`}>
    <slot />
</section>
